{% extends 'partials/_master.twig' %}

{% block main %}

<section class="section section-page">
    <div class="container">
        <div class="columns">
            <div class="column">
                <article role="article" class="content">
                    <h1 class="title is-size-1 is-size-3-mobile">{{ record.title }}</h1>

                    {% for group in record.content %}
                        {% if group.block == 'text' %}
                            {{ group.html|raw }}
                        {% elseif group.block == 'image' %}
                            <figure class="image">
                                <img src="{{ group.image.file|image(1280, 360, "r") }}" alt="{{ group.alt|default() }}" title="{{ group.title|default() }}"/>
                                <figcaption>
                                    {{ group.caption|default() }}
                                </figcaption>
                            </figure>
                        {% elseif group.block == 'widget' %}
                            {% if group.widgetselect is not empty %}
                                {% setcontent widget = "widgets/#{ group.widgetselect }" %}
                                {% if widget %}
                                    [This is a widget]
                                    {{ widget.title }}
                                    {# ---
                                        or do something wild like:
                                        {{ include("components/widgets/#{ widget.type }.twig", { widget: widget }) }}
                                    --- #}
                                {% endif %}
                            {% endif %}
                        {% endif %}
                    {% endfor %}

                </article>
            </div>
        </div>
    </div>
</section>

{% endblock main %}
